@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&family=Rubik:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
}
html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  color: #beb0ba;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #27005d;
  border-radius: 2px;
}

.h1 {
  overflow: hidden;

  white-space: nowrap;

  animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
